parameters:
    paths:
        - src

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        # This is ignored until we drop support for Shopware 6.5
        - message: '#Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository is not generic\.#'
          reportUnmatched: false
        - '#Trait Basecom\\FixturePlugin\\FixtureTrait is used zero times and is not analysed#'
